[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"

[dev-packages]
devtools = "*"

[requires]
python_version = "3.11"

[scripts]
app = "python main.py"
